<footer class="footer py-5 bg-dark text-white">

    <div class="container">
        <div class="row text-center text-md-left">
            <div class="col-md-4 mb-3 mb-md-0" style="font-size: 40px">
                <strong>Yi Tong</strong>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <strong>About Us</strong>
                <p>We are a delivery company full of drivers and packages, committed to providing fast and reliable
                    services.</p>
            </div>
            <div class="col-md-4">
                <strong>Contact Us</strong>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope"></i> Email: <a href="mailto:yton0020@student.monash.edu"
                            class="text-white">yton0020&#64;student.monash.edu</a></li>
                    <li><i class="fas fa-id-badge"></i> Student ID: 32119887</li>
                    <li><i class="fas fa-phone"></i> Phone: +61 0400 000 000</li>
                    <li><i class="fas fa-map-marker-alt"></i> Address: FIT, Monash University</li>
                </ul>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffffff;">
        <div class="row">
            <div class="col text-center">
                <small>Copyright &copy; 2024 Yi Tong. All rights reserved.</small>
            </div>
        </div>
    </div>
</footer>