
<header>
    <div class="py-5 bg-light">
        <div class="container text-center">
            <h1 class="mb-4">
                FIT2095 Gber Company<br>
                Yi Tong,ID#3219887<br>
                We Dont Enjoy Coding
            </h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <ul class="navbar-nav mx-auto">
                        <a class="nav-link" href="/home">Home</a>
                        <a class="nav-link" href="/add-driver">Add Driver</a>
                        <a class="nav-link" href="/list-drivers">List Drivers</a>
                        <a class="nav-link" href="/update-driver">Update Driver</a>
                        <a class="nav-link" href="/delete-driver">Delete Drivers</a>
                        <a class="nav-link" href="/add-package">Add Package</a>
                        <a class="nav-link" href="/list-packages">List Packages</a>
                        <a class="nav-link" href="/update-package">Update Package</a>
                        <a class="nav-link" href="/delete-package">Delete Package</a>
                        <a class="nav-link" href="/statistics">statistics count</a>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/signup">Signup</a>
                        <a class="nav-link" href="/translatedescription">translate description</a>
                        <a class="nav-link" href="/texttospeechcomponent">text to speech</a>
                        <a class="nav-link" href="/generativeAI">generative AI</a>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</header>