<!-- list-drivers.component.html -->
<div class="container mt-5">
  <h2 class="text-center mb-4">Drivers List</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Licence</th>
        <th>Is Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driver of drivers">
        <td>{{ driver.driver_name | uppercase }}</td>
        <td>{{ driver.driver_department }}</td>
        <td>{{ driver.driver_licence }}</td>
        <td>{{ driver.driver_isActive ? 'Yes' : 'No' }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteDriver(driver._id)">Delete</button>
          <button class="btn btn-info" (click)="togglePackages(driver._id)">Show Packages</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="selectedDriverPackages && selectedDriverPackages.length > 0" class="mt-4">
    <h3>Assigned Packages</h3>
    <ul class="list-group">
      <li *ngFor="let pkg of selectedDriverPackages" class="list-group-item">
        <strong>Title:</strong> {{ pkg.package_title }} <br>
        <strong>Weight:</strong> {{ pkg.package_weight }} kg <br>
        <strong>Destination:</strong> {{ pkg.package_destination }}
      </li>
    </ul>
  </div>
  <div *ngIf="selectedDriverPackages && selectedDriverPackages.length === 0" class="mt-4">
    <p>No Packages Found</p>
  </div>
</div>
