<div class="container mt-5">
  <h2 class="text-center mb-4 text-primary">CRUD Operation Statistics</h2>
  
  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>

  <div *ngIf="statistics" class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead class="table-dark text-center">
        <tr>
          <th>Create Operations</th>
          <th>Retrieve Operations</th>
          <th>Update Operations</th>
          <th>Delete Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td>{{ statistics.create }}</td>
          <td>{{ statistics.retrieve }}</td>
          <td>{{ statistics.update }}</td>
          <td>{{ statistics.delete }}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
